ul {
  list-style: none;
}
.gallery_item {
  display: flex;
  align-items: center;
}
.image-country {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.country-flag {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.country-list {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.country-info {
  display: flex;
  flex-direction: column;
  display: flex;
  padding: 15px;
}
.country {
  display: flex;
  flex-direction: column;
}
.country-item--span {
  font-weight: bold;
}
